    <tr>
        <td><a href="https://github.com/{{ OWNER }}/{{ NAME }}">{{ NAME }}</a></td>
        <td>{{ DESCRIPTION }}
            <br>
            <a href="https://github.com/{{ OWNER }}/{{ NAME }}/issues">Issues</a> |
            <a href="https://github.com/{{ OWNER }}/{{ NAME }}/pulls">PRs</a> |
            <a href="https://github.com/{{ OWNER }}/{{ NAME }}/stargazers">Stars</a> |
            <a href="https://www.powershellgallery.com/packages/{{ NAME }}/">PS Gallery</a>
        </td>
        <td><code>{{ VERSION }}</code></td>
    </tr>
