
<table>
    <tr>
        <th width="24%">Name</th>
        <th width="12%"><img src="https://raw.githubusercontent.com/PSModule/.github/main/media/githubtags.svg" alt="Version" title="Version" width="16" height="16"></th>
        <th width="24%"><img src="https://raw.githubusercontent.com/PSModule/.github/main/media/package-variant-closed-check.svg" alt="Process version" title="Process version" width="16" height="16"></th>
        <th width="10%"><img src="https://raw.githubusercontent.com/PSModule/.github/main/media/githubissues.svg" alt="Issues" title="Issues" width="16" height="16"></th>
        <th width="10%"><img src="https://raw.githubusercontent.com/PSModule/.github/main/media/githubpullrequests.svg" alt="Pull requests" title="Pull requests" width="16" height="16"></th>
        <th width="10%"><img src="https://raw.githubusercontent.com/PSModule/.github/main/media/githubstars.svg" alt="Stars" title="Stars" width="16" height="16"></th>
    </tr>
{{ ROWS }}</table>
